[submodule "Online-shopping"]
	path = Online-shopping
	url = https://github.com/keerthi-1996/Online-shopping.git
[submodule "rs-cart"]
	path = rs-cart
	url = https://DevOps-Batches@dev.azure.com/DevOps-Batches/DevOps49/_git/rs-cart
